@import 'tailwindcss';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Inter var', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: 'Lora', serif;
  --radius: 0.5rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --radius: 0.5rem;
  --background: oklch(0.9837 0.0019 264.5449);
  --foreground: oklch(0.3103 0.0197 264.2318);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.3103 0.0197 264.2318);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.3103 0.0197 264.2318);
  --primary: oklch(0.5433 0.2122 28.1901);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.9205 0.0049 264.5343);
  --secondary-foreground: oklch(0.4034 0.0277 264.1964);
  --muted: oklch(0.9525 0.0029 264.5416);
  --muted-foreground: oklch(0.5431 0.0205 264.3900);
  --accent: oklch(0.9220 0.0025 264.5428);
  --accent-foreground: oklch(0.4034 0.0277 264.1964);
  --destructive: oklch(0.6065 0.2184 26.7425);
  --border: oklch(0.8801 0.0075 264.5234);
  --input: oklch(0.9365 0.0039 264.5381);
  --ring: oklch(0.5433 0.2122 28.1901);
  --chart-1: oklch(0.5433 0.2122 28.1901);
  --chart-2: oklch(0.4773 0.2630 285.5653);
  --chart-3: oklch(0.6998 0.1272 176.7162);
  --chart-4: oklch(0.7794 0.1623 75.2937);
  --chart-5: oklch(0.6155 0.2455 320.3463);
  --sidebar: oklch(0.9590 0.0049 264.5351);
  --sidebar-foreground: oklch(0.3576 0.0238 264.2114);
  --sidebar-primary: oklch(0.4982 0.1937 28.0980);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.9044 0.0060 264.5302);
  --sidebar-accent-foreground: oklch(0.4478 0.0315 264.1851);
  --sidebar-border: oklch(0.8393 0.0101 264.5103);
  --sidebar-ring: oklch(0.5433 0.2122 28.1901);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: 'Inter var', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: hsl(220, 10%, 50%);
  --shadow-opacity: 0.05;
  --shadow-blur: 10px;
  --shadow-spread: -3px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 10px -3px hsl(220 10% 50% / 0.03);
  --shadow-xs: 0px 4px 10px -3px hsl(220 10% 50% / 0.03);
  --shadow-sm: 0px 4px 10px -3px hsl(220 10% 50% / 0.05), 0px 1px 2px -4px hsl(220 10% 50% / 0.05);
  --shadow: 0px 4px 10px -3px hsl(220 10% 50% / 0.05), 0px 1px 2px -4px hsl(220 10% 50% / 0.05);
  --shadow-md: 0px 4px 10px -3px hsl(220 10% 50% / 0.05), 0px 2px 4px -4px hsl(220 10% 50% / 0.05);
  --shadow-lg: 0px 4px 10px -3px hsl(220 10% 50% / 0.05), 0px 4px 6px -4px hsl(220 10% 50% / 0.05);
  --shadow-xl: 0px 4px 10px -3px hsl(220 10% 50% / 0.05), 0px 8px 10px -4px hsl(220 10% 50% / 0.05);
  --shadow-2xl: 0px 4px 10px -3px hsl(220 10% 50% / 0.13);
  --tracking-normal: 0.01em;
}

.dark {
  --background: oklch(0.1744 0.0133 264.1429);
  --foreground: oklch(0.8780 0.0113 264.5074);
  --card: oklch(0.1972 0.0132 264.2067);
  --card-foreground: oklch(0.9191 0.0074 264.5250);
  --popover: oklch(0.1972 0.0132 264.2067);
  --popover-foreground: oklch(0.9191 0.0074 264.5250);
  --primary: oklch(0.6068 0.2450 28.8791);
  --primary-foreground: oklch(0.9583 0.0061 264.5309);
  --secondary: oklch(0.2612 0.0154 264.2613);
  --secondary-foreground: oklch(0.7561 0.0157 264.4747);
  --muted: oklch(0.2306 0.0127 264.2863);
  --muted-foreground: oklch(0.6707 0.0216 264.4197);
  --accent: oklch(0.2909 0.0180 264.2422);
  --accent-foreground: oklch(0.7980 0.0129 264.4943);
  --destructive: oklch(0.5714 0.2121 27.2502);
  --border: oklch(0.3576 0.0238 264.2114);
  --input: oklch(0.3103 0.0197 264.2318);
  --ring: oklch(0.6068 0.2450 28.8791);
  --chart-1: oklch(0.6068 0.2450 28.8791);
  --chart-2: oklch(0.6056 0.2056 294.8701);
  --chart-3: oklch(0.8089 0.1347 178.7702);
  --chart-4: oklch(0.8176 0.1492 80.5860);
  --chart-5: oklch(0.7245 0.1751 320.7588);
  --sidebar: oklch(0.1515 0.0118 263.8831);
  --sidebar-foreground: oklch(0.9191 0.0074 264.5250);
  --sidebar-primary: oklch(0.6125 0.2276 27.2717);
  --sidebar-primary-foreground: oklch(0.9834 0.0024 264.5435);
  --sidebar-accent: oklch(0.2284 0.0170 264.1547);
  --sidebar-accent-foreground: oklch(0.8393 0.0101 264.5103);
  --sidebar-border: oklch(0.3071 0.0264 264.0713);
  --sidebar-ring: oklch(0.6125 0.2276 27.2717);
  --destructive-foreground: oklch(0.9583 0.0061 264.5309);
  --radius: 0.5rem;
  --font-sans: 'Inter var', sans-serif;
  --font-serif: 'Lora', serif;
  --font-mono: 'Fira Code', monospace;
  --shadow-color: hsl(220, 30%, 2%);
  --shadow-opacity: 0.5;
  --shadow-blur: 20px;
  --shadow-spread: -5px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 10px;
  --letter-spacing: 0.01em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 10px 20px -5px hsl(220 30% 2% / 0.25);
  --shadow-xs: 0px 10px 20px -5px hsl(220 30% 2% / 0.25);
  --shadow-sm: 0px 10px 20px -5px hsl(220 30% 2% / 0.50), 0px 1px 2px -6px hsl(220 30% 2% / 0.50);
  --shadow: 0px 10px 20px -5px hsl(220 30% 2% / 0.50), 0px 1px 2px -6px hsl(220 30% 2% / 0.50);
  --shadow-md: 0px 10px 20px -5px hsl(220 30% 2% / 0.50), 0px 2px 4px -6px hsl(220 30% 2% / 0.50);
  --shadow-lg: 0px 10px 20px -5px hsl(220 30% 2% / 0.50), 0px 4px 6px -6px hsl(220 30% 2% / 0.50);
  --shadow-xl: 0px 10px 20px -5px hsl(220 30% 2% / 0.50), 0px 8px 10px -6px hsl(220 30% 2% / 0.50);
  --shadow-2xl: 0px 10px 20px -5px hsl(220 30% 2% / 1.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}